<a href="/products">Обратно к товарам</a>

<div class="item">
<h1>Это страница одного продукта</h1>
<img src="{{productFind.image}}" alt="{{name}}" />
<h2 class="new">{{productFind.name}}</h2>
<p>цена: {{productFind.price}} кредитов</p>
<button type="button">Добавить в корзину</button>
</div>